@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
<div id="showBtn" class="d-flex justify-content-center align-content-center">
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Show
    </button>
</div>
<div id="backGr" class="d-flex justify-content-center align-content-center">
    <div id="canvas" class="bg-dark">
        
    </div>
</div>

<div id="container" style="display: inline-block" class="pt-lg-5">
    <img src="~/img/1bs.jpg" />
    <img src="~/img/1gs.jpg" />
    <img src="~/img/1os.jpg" />
    <img src="~/img/2bs.jpg" />
    <img src="~/img/2gs.jpg" />
    <img src="~/img/2os.jpg" />
    <img src="~/img/3bs.jpg" />
    <img src="~/img/3gs.jpg" />
    <img src="~/img/3os.jpg" />
    <img src="~/img/4bs.jpg" />
    <img src="~/img/4gs.jpg" />
    <img src="~/img/4os.jpg" />
    <img src="~/img/5bs.jpg" />
    <img src="~/img/5os.jpg" />
    <img src="~/img/6bs.jpg" />
    <img src="~/img/7bs.jpg" />
</div>

</body>